
//COLOUR SCHEME
$color-primary: #d114db; //Primary theme for elements that need to stand out
$color-primary-dark: #ad0db6; 
$color-white: #fff; //For headings
//#c92c2c
//#d114db
$color-grey-light: #444444; //For background
$color-grey-dark: #2d2d2d;
$color-grey-dark-2: #242424;


$artist-hover: #f5980c; //For artist hover elements

$color-h3: #abaaa7;

$color-footer: #1b1b1b; // For footer

$color-black: #000;
